{% extends 'base.html' %}

{% block content %}
<div class="row col-12">

  {% for i in pages.items %}
  <div class=" cards m-2 col-3">
    <div class="card-img-wrapper">

      <img src="{{ url_for('static', filename=i.endereco)}}" alt="Card image cap">
    </div>
    <div class="card-info text-white">
      <h2>Constantine</h2>
      <p>Ação e Terror</p>
    </div>
  </div>
  {% endfor %}
  
  <!-- Pagination Links-->
  <div class="text-right">
    <a href="{{ url_for('main.home', page=pages.prev_num) }}" class="btn btn-outline-dark 
     {% if pages.page == 1 %}disabled{% endif %}">
      &laquo;
    </a>
    <!-- Loop através dos números de pag. para mostrar o link de cada-->
    {% for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- conferindo a pag. ativa e setando o link de ativação na pág-->
    {% if pages.page == page_num %}
    <a href="{{ url_for('main.home', page=page_num) }}" class="btn btn-dark">
      {{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('main.home', page=page_num) }}" class="btn btn-outline-dark">
      {{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.home', page=pages.next_num) }}" class="btn btn-outline-dark 
     {% if pages.page == pages.pages %}disabled{% endif %}">
      &raquo;
    </a>
  </div>
  <!-- <p class="text-right mt-3">
    Mostrando page {{ pages.page }} of {{ pages.pages }}
  </p> -->
</div>
{% endblock %}