<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion" style=" background-image: linear-gradient(to top left, #00001a, #182e54);"id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">              
                <a class="nav-link" href="{{ url_for('auth.login') }}">
                    <div class="sb-nav-link-icon" style="color: white;"><i class="fas fa-solid fa-sign-in"></i></div>
                    <div style="color: white; margin: auto;">
                        Login
                    </div>
                </a>
                <a class="nav-link" href="{{ url_for('auth.registro') }}">
                    <div class="sb-nav-link-icon"  style="color: white;"><i class="fas fa-solid fa-user-plus"></i></div>
                    <div style="color: white; margin: auto;">
                        Registro
                    </div>
                </a>
            </div>
        </div>
    </nav>
</div>