<nav class="sb-topnav navbar navbar-expand" style="padding-right: 1em; background-image: linear-gradient(to bottom right, #590022, #a7185e);">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" style="color: aliceblue; font-size: 2em; font-weight: bolder;"  href="{{ url_for('main.index') }}">DevFLIX</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" style="margin-left: auto; color: aliceblue; font-size: 1em; box-shadow: 2px 1px #590022 ; margin-right: 1em;" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
   
</nav>