<nav class="sb-topnav navbar navbar-expand" style="padding-right: 1em; background-image: linear-gradient(to bottom right, #00001a, #182e54); box-shadow: 10px 8px rgba(rgba(0, 0, 26, 0.7));">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" style="color: aliceblue; font-size: 2em; font-weight: bolder;"  href="{{ url_for('main.index') }}">DevFLIX</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" style="margin-left: auto; color: aliceblue; font-size: 20px; box-shadow: 2px 2px #041533 ; margin-right: 1em; padding: 5px; background-color: #182e54;" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
   
</nav>
